Source: xdg-mimer
Section: utils
Priority: optional
Maintainer: Kete Tefid <ketetefid@gmail.com>
Build-Depends: debhelper (>= 11), cargo
Standards-Version: 4.1.4

Package: xdg-mimer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A GUI for managing MIME associations using XDG standards.
