Package: xdg-mimer
Version: @VERSION@
Architecture: amd64
Maintainer: Kete Tefid <ketetefid@gmail.com>
Priority: optional
Section: utils
Depends: libgtk-4-1, libc6 (>= 2.29)
Homepage: https://github.com/yourname/xdg-mimer
Description: A GUI for managing MIME associations using XDG standards.
