#!/usr/bin/make -f
export DH_CARGO_DISABLE_CHECKSUM=1
%:
	dh $@ --buildsystem=cargo

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -Dm755 target/release/xdg-mimer $(DESTDIR)/usr/bin/xdg-mimer
